.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px;
    padding: 20px;
}

.product {

    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc((100% - 40px) / 3); /* Adjust to 3 columns */
    max-width: 300px; /* Maximum width for each product */
}

.productPreviewer {
    position: relative;
    width: 100%; /* or specify a fixed width */
}

#SelectedImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#SelectedImage button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    color: #333; /* or any color you prefer */
}

#OtherImages {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto; /* Horizontal scrollbar if needed */
    white-space: nowrap; /* Keep images in a single line */
}

#OtherImages li {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
}

/* Example styles for the images */
#OtherImages li img {
    width: 100px; /* Adjust image size as needed */
    height: auto;
    border: 1px solid #ccc; /* Example border */
}
